<!-- <article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{unit.code}} - {{unit.title}} : {{unit.creditsNumber}} Credits</strong>
                <button class="button" (click)="onClickManageUnit($event)">
                    {{toAdd ? "Ajouter l'UE": "Retirer l'UE"}}
                </button>

            </p>
            <div *ngFor="let activity of unit.activities" class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{activity.title}} : {{activity.creditsNumber}} Credits</strong>
                                <br>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</article> -->
<div class="unit">
    <div class="header">

        <p>UE {{unit.code}} : {{unit.title}}</p>
        <a class="unit-button" (click)="onClickManageUnit($event)">
            <fa-icon [ngClass]=" toAdd ? 'has-text-success' : 'has-text-danger' " [icon]="currentIcon"></fa-icon>
        </a>
        <div class="unit-nb-credits">
            {{unit.creditsNumber }} crédits
        </div>


    </div>
    <div class="activities">
        <div *ngFor="let activity of unit.activities" class="activity">
            <p>AA : {{activity.title}}<span>{{activity.creditsNumber}}</span></p>
        </div>
    </div>
</div>

<!-- <article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{unit.code}} - {{unit.title}} : {{unit.creditsNumber}} Credits</strong>
                <button class="button" (click)="onClickManageUnit($event)">
                    {{toAdd ? "Ajouter l'UE": "Retirer l'UE"}}
                </button>
                 <button class="btn" (click)="ajouter(i)">Ajouter au PAE</button> 
                 <button class="btnRemove" style="display: none" (click)="supprimer(i)">Retirer du PAE</button> 
                 <input type="checkbox" (change)="onCheck()"> 

            </p>
            <div *ngFor="let activity of unit.activities" class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{activity.title}} : {{activity.creditsNumber}} Credits</strong>
                                <br>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</article> -->

<!-- <button class="btn" (click)="ajouter(i)">Ajouter au PAE</button> 
                 <button class="btnRemove" style="display: none" (click)="supprimer(i)">Retirer du PAE</button> 
                 <input type="checkbox" (change)="onCheck()">  -->