<!-- <div class="change-ue">
  <div class="header">
    Résumé du PAE
  </div>
  <div class="content">
    <p *ngFor="let unit of summaryUnits"> - {{unit.code}} </p>
  </div>
  <div class="footer">
    <button class="button is-fullwidth">Confirmer le PAE</button>
  </div>
</div> -->

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Résumé du PAE
    </p>
  </header>
  <div class="card-content">
    <div class="content" *ngIf="summaryUnits.length > 0; else emptyList">
      <p *ngFor="let unit of summaryUnits"> - {{unit.code}} </p>
    </div>
    <ng-template #emptyList>
      <div class="content">
        <p class="has-text-centered">PAE vide</p>
      </div>
    </ng-template>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item helha primary-background">Confirmer</a>
  </footer>
</div>