<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Résumé du PAE
    </p>
  </header>
  <div class="credits">
    <div class="credits-in-pae">
      <p class="credit-label has-text-centered">Crédits PAE</p>
      <p>{{creditsTotal}}</p>
    </div>
    <div class="credits-validated">
      <p class="credit-label has-text-centered">Crédits validés</p>
      <p>{{student.creditsNumber}}</p>
    </div>
  </div>

  <!-- *ngIf="summaryUnits.length > 0; else emptyList" -->
  <div class="content" [ngClass]="{'is-overflowing' : summaryUnits.length > 10}">
    <div *ngFor="let unit of summaryUnits" class="added-ue-container">
      <app-added-unit [unit]="unit"></app-added-unit>
    </div>
  </div>

  <footer class="card-footer">
    <a (click)="onClickShowModal($event)" [ngClass]="{'a-is-disabled' : creditsTotal === 0 }"
      class="card-footer-item helha eco-background">Confirmer</a>
  </footer>
</div>
<app-modal (setVisibility)="setVisibility($event)" [isVisible]="isVisible" [student]="student"
  [creditsTotal]="creditsTotal"></app-modal>