/* You can add global styles to this file, and also import other style files */
.helha.primary-color {
  color: #009790 !important;
}
.helha.secondary-background {
  background: #424d58 !important;
}
.helha.primary-color {
  color: #009790 !important;
}
.helha.secondary-background {
  background: #424d58 !important;
}

fa-icon {
  padding: 0rem 0.25rem;
}
