<div class="card" id="details" [ngStyle]="{'border-color': colorArray[students.section]}">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="rounded-picture" [ngStyle]="{'background': colorArray[students.section]}">
          {{students.fullname.split(" ")[0][0] | uppercase}}{{students.fullname.split(" ")[1][0] | uppercase}}
        </div>
      </div>
      <div *ngIf="students!=null" class="media-content">
        <p class="title is-4">{{students.fullname}}
          <span class="detail-bloc-section">{{fromBlocDBToDisplay(students.bloc)}},
            {{fromSectionDBToDisplay(students.section)}}</span>
        </p>
        <p>{{students.matricule}}</p>

      </div>
    </div>
  </div>
</div>