.columns.is-centered {
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.dragzone {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
ngx-dropzone {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
fa-icon {
  height: 50px;
  transform: scale(250%);
}
