<div class="columns is-centered">

    <section id="signin-form" class="column is-4">
        <div class="form-container">
            <div class="form-header helha secondary-background">
                <h3 class="is-size-4 has-text-centered white">Connexion</h3>
            </div>
            <form>
                <div class="field">
                    <label for="">Email :</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Email..">
                    </div>
                </div>
                <div class="field">
                    <label for="">Password :</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Password..">
                    </div>
                </div>
                <button class="button is-fullwidth is-medium helha primary-background white">Se connecter</button>
            </form>
        </div>
    </section>
</div>