<div class="columns is-centered">

  <section id="signin-form" class="column is-4">
    <div class="form-container">
      <div class="form-header helha secondary-background">
        <h3 class="is-size-4 has-text-centered white">Connexion</h3>
      </div>
      <form [formGroup]="form" (submit)="connection()">
        <div class="field">
          <label for="">Email :</label><label *ngIf="connected[1]==false" [ngStyle]="{color : color}"> email incorrect</label>
          <div class="control">
            <input class="input" name = "email" [ngStyle]="{borderColor : colorEmail, color : colorEmail}" type="email" formControlName="email" placeholder="Email..">
          </div>

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required.</div>
          </div>
        </div>

        <div class="field">
          <label for="" >Password :</label><label *ngIf="connected[0]==false" [ngStyle]="{color : color}"> mot de passe incorrect</label>
          <div class="control">
            <input class="input" name = "password" [ngStyle]="{borderColor: color, color : color}" formControlName="password" type="password" placeholder="Password..">
          </div>

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required.</div>
          </div>
        </div>

        <!--<button [disabled]="form.controls['email'].invalid" class="button is-fullwidth is-medium helha primary-background white">Se connecter</button>-->
        <button [disabled]="loading" class="button is-fullwidth is-medium helha primary-background white">Se connecter</button>
      </form>
    </div>
  </section>
</div>
