<div class="tabs is-boxed" id="courses">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'1B')">Bloc 1</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'2B')">Bloc 2</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'3B')">Bloc 3</span>
      </a>
    </li>
  </ul>
</div>


<!-- Bloc 1 -->
<div id="1B" class="tabcontent">
  <div>Bloc 1</div>
  <div *ngFor="let ue of bloc1;let i = index" class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ue.title}}</strong> <button class="btnAdd"(click)="ajouter(i)">Ajouter au PAE</button>
            <button class="btnRemove" style="display: none" (click)="supprimer(i)">Retirer du PAE</button>
            <br>
          </p>
          <div *ngFor="let aa of ue.activities" class="box">
            <article class="media">

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{aa.title}}</strong>
                    <br>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>


<!-- Bloc 2 -->
<div id="2B" class="tabcontent">
  <div>Bloc 2</div>
  <div *ngFor="let ue of bloc2; let i=index" class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ue.title}}</strong><button class="btnAdd" (click)="ajouter(i+bloc1.length)">Ajouter au PAE</button>
            <button class="btnRemove" style="display: none" (click)="supprimer(i + bloc1.length)">Retirer du PAE</button>
            <br>
          </p>
          <div *ngFor="let aa of ue.activities" class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{aa.title}}</strong>
                    <br>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<!-- Bloc 3 -->
<div id="3B" class="tabcontent">
  <div>Bloc 3</div>
  <div *ngFor="let ue of bloc3; let i=index" class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ue.title}}</strong><button class="btnAdd" (click)="ajouter(i+bloc1.length+bloc2.length)">Ajouter au PAE</button>
            <button class="btnRemove" style="display: none" (click)="supprimer(i+bloc1.length+bloc2.length)">Retirer du PAE</button>
            <br>
          </p>
          <div *ngFor="let aa of ue.activities" class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{aa.title}}</strong>
                    <br>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
