<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'1B')">Bloc 1</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'2B')">Bloc 2</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'3B')">Bloc 3</span>
      </a>
    </li>
  </ul>
</div>
<div id="1B" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>
<div id="2B" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>
<div id="3B" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
