<!-- <div class="tabs is-boxed" id="courses">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'1B')">Bloc 1</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'2B')">Bloc 2</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span class="tabslink" (click)="openCity($event,'3B')">Bloc 3</span>
      </a>
    </li>
  </ul>
</div> -->
<!-- 
<div class="tabs is-boxed" id="courses">
  <ul>
    <li class="is-active"><a (click)="openCity($event,'1B')">Bloc 1</a></li>
    <li><a (click)="openCity($event,'2B')">Bloc 2</a></li>
    <li><a *ngIf="student.bloc!='BLOC_1'" (click)="openCity($event,'3B')">Bloc 3</a></li>
  </ul>
</div> -->
<div class="menu-container">

  <div class="tabs is-toggle" id="courses">
    <ul>
      <li *ngFor="let bloc of blocs; let index = index;"
        [ngClass]="{'is-active': currentTab === index, 'is-disabled': bloc === 'Bloc 3' && student.bloc === 'BLOC_1'}">
        <a (click)="onClickTab($event, index)">{{bloc}}</a>
      </li>
    </ul>
  </div>
  <button (click)="addAllUnitNextBloc($event)" class="button"
    [ngStyle]="{'border-color': colorArray[student.section], 'background': colorArray[student.section]}">Ajouter les
    cours {{getNextBlocName()}}</button>
</div>

<div class="tabcontent">
  <div *ngFor="let ue of currentUnitsByBloc;let i = index" class="unit-list">
    <app-single-unit [nextUnitsByBloc]="nextUnitsByBloc" [indexToRemove]="indexToRemove" [unit]="ue"
      [unitsInPae]="student.units"></app-single-unit>
  </div>
</div>