<nav class="navbar has-shadow is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="assets/img/LOGO_HELHa(turquoise).png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a routerLink="/etudiants" routerLinkActive="active" class="navbar-item helha primary-color">
                <fa-icon [icon]="faUserGraduate"></fa-icon> Etudiants
            </a>

            <a routerLink="/excel" routerLinkActive="active" class="navbar-item helha primary-color">
                <fa-icon [icon]="faFileExcel"></fa-icon> Charger Excel
            </a>


            <div class="navbar-item">
                <a (click)="logOut()" class="button is-danger">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon> Déconnexion
                </a>
            </div>
        </div>
    </div>
</nav>