<section class="student-card">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <app-detail-student [students]="student"></app-detail-student>
            </div>
        </div>
        <div class="columns">

            <div class="column is-8">
                <app-list-courses [student]="student"></app-list-courses>
            </div>
            <div class="column is-4">
                <app-change-ue [student]="student" [summaryUnits]="student.units"></app-change-ue>
                <!-- <app-modal></app-modal> -->
            </div>
        </div>
    </div>
</section>